<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<h2>Your Orders</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.status}"></td>
        <td>
            <a th:if="${order.status == 'WAITING_PAYMENT'}"
               th:href="@{/payment/addVoucher(orderId=${order.id})}">Pay Voucher</a>
            |
            <a th:if="${order.status == 'WAITING_PAYMENT'}"
               th:href="@{/payment/addCod(orderId=${order.id})}">Pay CoD</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>